/* definimos los estilos iniciales de la página */
.page {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

/* cuando se desencadena la animación, hacemos que la página salga hacia arriba y desaparezca */
.page.animate {
  opacity: 0;
  transform: translateY(-50%);
}
